{
  "importOrder": [
    "^react$",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^(@/.*)$",
    "^[.]"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderTypeScriptVersion": "5.0.0",
  "importOrderCaseSensitive": false,
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
